@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  overflow: auto;
  flex: 1;
  min-height: 100vh;
}

.data-display {
  font-size: x-large;
  font-family: 'Anonymous Pro', monospace;
  text-align: left;
  flex: 3;
  padding: 2%;
  background-color: rgba(233, 237, 240, 0.589);
}

.side-panel {
  background-color: rgba(192, 219, 236, 0.589);
  flex: 1;
  padding: 2%;
  text-align: left;
}